<div class="nested-fields">
	<div>

		<% @item = Food.where(food_category: @kind) %>

			<%= f.collection_select :food_id, @item, :id, :food_item ,{include_blank: "選択してください"} %>

			<%= f.label :food_id,"食品の分量" %>
			<% if @item %>
			<%= f.select :point, [["少ない",1], ["やや少ない",2], ["普通",3], ["やや多い", 4], ["多い", 5]], {include_blank: "選択してください"} %>
			<% end %>
			<%= link_to_remove_association "食品を削除", f %>

	</div>

</div>
