<!-- 食事記録の食品項目の入力フォームの部分テンプレート -->
<div class="nested-fields">
	<div class="food-select-form row">
		<div class="food-select col-lg-5">
			<span class="food-select-item">食品</span>
			<%= f.collection_select :food_id, Food.where(food_category: @kind), :id, :food_item ,{include_blank: "選択してください"} %>
	    </div>
	    <div class="food-select col-lg-5">
	    	<span class="food-select-item">分量</span>
	    	<%= f.select :point, [["少ない", 1],["やや少ない", 2],["普通", 3],["やや多い", 4],["多い", 5]], {include_blank: "選択してください"} %>
	    </div>
	    <div class="food-select col-lg-2">
	    	<%= link_to_remove_association "食品を削除", f %>
	    </div>
	</div>
</div>
