<div class="ested-fields">
	<div>
		<p><%= f.label :target_body, '目標' %></p>
		<p><%= f.text_field :target_body %></p>
	</div>
	<div class="remove">
		<p><%= link_to_remove_association "目標を削除", f %></p>
	</div>
</div>