<h2>食事の目安量</h2>

<%= link_to '1食の食事記録ページへ戻る', new_user_meal_path%>
<hr>

<div>
	<p><b>主食</b></p>
	<p>ご飯：１食あたり、片手におさまるくらいが普通の量です。</p>
	<p>ご飯：１食あたり、片手におさまるくらいが普通の量です。</p>
	<p>ご飯：１食あたり、片手におさまるくらいが普通の量です。</p>
	<p>ご飯：１食あたり、片手におさまるくらいが普通の量です。</p>
</div>

<hr>


<div>
<p><b>主菜</b></p>
	<p>肉類：1食あたり、片手におさまるくらいが普通の量です。</p>
	<p>肉類：1食あたりxxxxx</p>
	<p>肉類：1食あたりxxxx</p>
	<p>肉類：1食あたりxxxx</p>
</div>

<hr>

<div>
	<p><b>副菜</b></p>
	<p>肉類：1食あたりxxxxx</p>
</div>

<hr>

<div>
	<p><b>果物</b></p>
	<p>肉類：1食あたりxxxxx。</p>
</div>


<hr>

<div>
	<p><b>牛乳・乳製品</b></p>
	<p>肉類：1食あたり、片手におさまるくらいが普通の量です。</p>
</div>


<hr>

<div>
	<p><b>油脂</b></p>
	<p>肉類：1食あたり、片手におさまるくらいが普通の量です。</p>
</div>


<hr>

<div>
	<p><b>嗜好品</b></p>
	<p>お菓子類：1食あたり、片手におさまるくらいが普通の量です。</p>
	<p>お酒：1食あたり、片手におさまるくらいが普通の量です。</p>
	<p>お酒：1食あたり、片手におさまるくらいが普通の量です。</p>
</div>



