<div class="sidebar">
	<p><%= link_to 'ホーム', user_articles_path %></p>
	<div>
		<ul>
			<% @genres.each do |genre| %>
				<li><%= link_to "#{gensre.genre_name}", user_article_genre_path(genre.id) %></li>
			<% end %>
		</ul>
	</div>
</div>