<p class="headline">サイトの使い方</p>

<div class="row">
	<div class="col-lg-3"></div>

	<div class="about-page col-lg-6">
		<div class="about-contents">
			<h4>TABE RECO の使い方</h4>
				<p>当サイトは<b>食事記録</b>ができるサイトです。</p>
				<p><b>会員登録</b>すると以下の機能が利用できます</p>

				<hr>
				<p><b>【 自分の記録 】</b></p>
				<p>食事記録をして食生活を自己管理することができます。</p>
				<p>毎食、食事記録をすることで、<b>１日の栄養バランス</b>を知ることができます。</p>
				<p>適正量食べているかどうか、<b>食事アドバイス</b>を見ることができます。</p>
				<p>日々の食事管理にご利用ください。</p>

				<br>
				<p><b>・自分の記録ページの使い方</b></p>
				<p>①「食事記録する」を選択し、１食の食事について入力してください。</p>
				<p>②１日の食事一覧ページから日付のバランスチェックを選択してください。</p>
				<p>③栄養バランスと食事アドバイスの確認ができます。</p>

				<hr>
				<p><b>【 みんなの広場 】</b></p>
				<p>会員登録している<b>仲間とつながることができるSNS</b>です。</p>
				<p>目標が達成できているかどうか、仲間と共有することで<b>モチベーション</b></p>
				<p><b>をUP</b>させましょう。</p>
				<p>目標達成のために頑張る<b>仲間を応援</b>して共に目標達成に向けて頑張り</p>
				<p>ましょう。</p>
				<br>
				<p><b>・みんなの広場ページの使い方</b></p>
				<p>①事前にプロフィール登録で自分の目標を設定してご利用ください。
				<p class="about-text">プロフィール登録ではSNS用のアイコン画像や自己紹介も登録可能です。</p>
				<p class="about-text">
				※プロフィール登録は「自分の記録」の「設定」から設定可能です。</p>
				<p>②「新規投稿する」で各項目を入力してください。</p>
				<p>③いいね、応援する、コメントができるので、仲間と一緒に頑張りましょう。</p>
				<p>④ユーザーの検索もできますので、気になる仲間をフォローしましょう。</p>

				<hr>
				<p><b>【 栄養の知識 】</b></p>
				<p>当サイトの運営側から随時、食材、栄養、レシピなど<b>食に関する記事</b>を</p>
				<p>投稿いたしますので、日々の食生活の参考にしてみてください。</p>
		</div>
	</div>

	<div class="col-lg-3"></div>
</div>
