<div class="row">
	<div class="col-lg-3"></div>

	<div class="about-page col-lg-6">
		<div class="about-contents">
			<p class="headline">サイトの使い方</p>
				<p>あああ</p>
				<p>あああ</p>
				<p>あああ</p>
				<p>あああ</p>
		</div>
	</div>

	<div class="col-lg-3"></div>
</div>
