<h2>サイトのトップページ</h2>


<!-- スライドショーか写真を入れる -->

<p>Tabe_Reco(タベレコ)は食事管理ができるサイトです。</p>


<p>会員登録すると</p>

<ul>
	<li>食事記録をしながら栄養の知識がつきます。</li>
	<li>食事記録をすることで自分の食事の傾向を知り、改善できます</li>
	<li>目標に向かって頑張る仲間たちと繋がってモチベーションをUPさせることができます。</li>
</ul>

<p>
食事の改善を目標にする人だけでなく、<br>
病気の予防のためや健康的な食生活を送り続けたいと思っている人にも、<br>
楽しく手軽に利用できます。
</p>

<p><%= link_to 'ログイン', new_user_session_path %></p>
<p><%= link_to '会員登録', new_user_registration_path %></p>