// Place all the styles related to the admin/home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.admin-top-page {
	background-color: #ffffff;
}

.admin-top-page-content{
	padding: 10px;
}

.admin-top-page-item {
	margin-bottom: 30px;
	padding: 15px;
}