<h2>１日の食事バランス</h2>


<h3>カレンダー</h3>
<p>※日付を選ぶとその日の食事一覧が見れる</p>


<h3>xx月xx日の食事一覧</h3>

<p>朝食</p>
<p>時間</p>
<p>画像</p>
<p>食事メモ</p>

<h3>栄養バランス</h3>
<p>※レーダーチャートを表示させる</p>


<h3>食事アドバイス</h3>
<p>※食品分類や食品項目の各点数の合計値によって表示を変える(少ない、普通、食べ過ぎなど)</p>

