<%= render 'nav' %>

<hr>

<h2>マイページ</h2>



<div>
   <p>食事一覧※カレンダー表示させる</p>
   <%= @ulrn %>

   <div id="calendar"></div>


	<ul>
		<% @meals.each do |meal| %>
			<li><%= form_tag user_daily_meal_path(current_user.id), method: :get do %>
				  <%= submit_tag "#{meal.ate_date}" %>
				<% end %>
			</li>
		<% end %>
	</ul>
</div>

  <script>

   	$(document).ready(function() {
	    $('#calendar').fullCalendar({
	        editable: true,
	        events: gon.json
	    });
	});
   </script>