<h2>マイページ</h2>

<p><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></p>

<p><%= link_to '食事の新規登録へ', new_user_meal_path %></p>

<p>登録日時一覧</p>

<p><%= link_to '１日の食事記録一覧へ', user_daily_meal_path(current_user) %></p>

<p><%= link_to '食事バランス一覧へ', user_daily_meal_balance_path(current_user)%></p>