<%= render 'nav' %>

<hr>

<h2>マイページ</h2>
<div>
   <div id="calendar"></div>
	<ul>
		<% @meals.each do |meal| %>
			<li><%= form_tag user_daily_meal_path(current_user.id), method: :get do %>
				  <%= submit_tag "#{meal.ate_date}" %>
				<% end %>
			</li>
		<% end %>
	</ul>
</div>

  <script>

   	$(document).ready(function() {
		var data = {};
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: '/user/users/json',//←ここをjsonを返却するアクションのパスに設定し直す
            dataType: 'json',
            async: false,
            success: function(json) {
            	 $('#calendar').fullCalendar({
	        		editable: true,
	        		events: json
	   			});
            }
        });

   		// console.log("---------------------------");
   		// console.log(gon.json);

	    // $('#calendar').fullCalendar({
	    //     editable: true,
	    //     events: date
	    // });

   		// console.log("---------------------------");
	});
   </script>