<%= render 'user/users/nav' %>

<hr>

<h1>設定の変更</h1>

<p><%= link_to '会員登録時の登録内容編集', edit_user_registration_path %></p>
<p><%= link_to 'プロフィール編集', edit_user_user_path(current_user.id) %></p>

<!-- <p>基本データ編集</p> -->