<div>
	<ul class="nav nav-tabs nav-justified">
		<li role="presentation" class="active"><p><%= link_to 'ホーム', user_posts_path %></p></li>
		<li role="presentation"><p><%= link_to '新規投稿する', new_user_post_path %></p></li>
		<li role="presentation"><p><%= link_to 'マイページ', user_user_path(current_user.id) %></p></li>
		<li role="presentation"><p><%= link_to 'ユーザー一覧', user_users_path %></p></li>
</div>