<ul class="nav nav-pills nav-justified" id="nav-list">
	<li role="presentation"><%= link_to 'ホーム', user_posts_path %></p></li>
	<li role="presentation"><%= link_to '新規投稿する', new_user_post_path %></li>
	<li role="presentation"><%= link_to 'マイページ', user_user_path(current_user.id) %></li>
	<li role="presentation"><%= link_to 'ユーザー一覧', user_users_path %></li>
</ul>



