// Place all the styles related to the User/Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.post-list {
	padding: 0px 25px;
}

.post {
	background-color: white;
	padding: 15px 20px;
	margin-bottom: 30px;
}

.post-user {
	padding: 0px 20px;
}

.user-nickname {
	padding-left: 15px;
}

.post-image {
	padding-bottom: 0px;
}

.post-text {
	border: solid 1px #bfbfbf;
	padding: 10px 5px;
	margin: 0px 20px 10px 20px;
}

.post-target {
	padding: 0px 20px;
}

.post-body {
	padding: 0px 20px;
}

.post-stats {
	padding: 5px 20px;
}

.post-stats ul {
	list-style: none;
}

.post-stats li {
	float: left;
	padding-right: 20px;
}

.glyphicon-heart-empty, .glyphicon-heart {
	font-size: 28px;
}

.glyphicon-star, .glyphicon-star-empty {
	font-size: 28px;
}

.cheer {
	line-height: center;
}

.post-datetime {
	text-align: right;
	padding-bottom: 15px;
	padding-right: 20px;
}

.post-action ul {
	list-style: none;
	float: right;
}

.post-action li {
	float: left;
	padding: 0px 10px;
}

.new-post-container {

}

.post-form {
	padding: 15px;
	margin: 0px 20px;
	background-color: #ffffff;
	padding-bottom: 30px;
}

.post-form-image {
	padding: 0px 70px;
}

.post-form-target {
	padding: 10px 70px;
}

.post-form-text {
	padding: 10px 70px 20px 70px;
}

.post-submit {
	text-align: right;
}

.post-show-link {
	text-align: right;
	margin-top: 25px;
}

.comment-form {
	margin: 0px 20px 10px 20px;
}

.comment-submit {
	text-align: right;
	padding: 10px 0px;
}

.comment-text {
	border-radius: 3px;
	border: solid 1px #bfbfbf;
	padding: 10px;
	margin: 15px 20px 10px 20px;
	background-color: #ffffff;
}

.comment-datetime {
    text-align: right;
	padding-bottom: 15px;
	padding-right: 25px;
}

.user_comment_image {
	padding: 0px 20px;
}

.comment-action ul {
	list-style: none;
	float: right;
}

.comment-action li {
	float: left;
	padding: 0px 10px;
}

.comment-action {
	padding-right: 10px;
}

.comment-list {
	background-color: #f9f9f9;
	border-radius: 5px;
	margin: 0px 10px;
	padding-top:10px;
}

.commentlist-headline {
	margin: 10px 10px;
}

.comment-edit {
	background-color: #ffffff;
	padding: 20px 40px;
}

.comment-edit-content {
	padding: 0px 40px;
}